In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
data=pd.read_csv(r"/content/Data-cleaning-for-beginners-using-pandas.csv")

In [10]:
copy_data = data.copy()

In [11]:
data

    Index   Age      Salary  Rating       Location  Established Easy Apply
0       0  44.0   $44k-$99k     5.4       India,In         1999       TRUE
1       1  66.0   $55k-$66k     3.5    New York,Ny         2002       TRUE
2       2   NaN   $77k-$89k    -1.0    New York,Ny           -1         -1
3       3  64.0   $44k-$99k     4.4       India In         1988         -1
4       4  25.0   $44k-$99k     6.4  Australia Aus         2002         -1
5       5  44.0   $77k-$89k     1.4       India,In         1999       TRUE
6       6  21.0   $44k-$99k     0.0    New York,Ny           -1         -1
7       7  44.0   $44k-$99k    -1.0  Australia Aus           -1         -1
8       8  35.0   $44k-$99k     5.4    New York,Ny           -1         -1
9       9  22.0   $44k-$99k     7.7       India,In           -1       TRUE
10     10  55.0   $10k-$49k     5.4       India,In         2008       TRUE
11     11  44.0   $10k-$49k     6.7       India,In         2009         -1
12     12   NaN   $44k-$99k     0.0       India,In         1999         -1
13     13  25.0   $44k-$99k    -1.0  Australia Aus         2019       TRUE
14     14  66.0   $44k-$99k     4.0  Australia Aus         2020       TRUE
15     15  44.0  $88k-$101k     3.0  Australia Aus         1999         -1
16     16  19.0   $19k-$40k     4.5       India,In         1984         -1
17     17   NaN   $44k-$99k     5.3    New York,Ny         1943       TRUE
18     18  35.0   $44k-$99k     6.7    New York,Ny         1954       TRUE
19     19  32.0   $44k-$99k     3.3    New York,Ny         1955       TRUE
20     20   NaN   $44k-$99k     5.7    New York,Ny         1944       TRUE
21     21  35.0   $44k-$99k     5.0    New York,Ny         1946         -1
22     22  19.0   $55k-$66k     7.8    New York,Ny         1988       TRUE
23     23   NaN   $44k-$99k     2.4    New York,Ny         1999       TRUE
24     24  13.0   $44k-$99k    -1.0    New York,Ny         1987         -1
25     25  55.0   $44k-$99k     0.0  Australia Aus         1980       TRUE
26     26   NaN   $55k-$66k     NaN       India,In         1934       TRUE
27     27  52.0   $44k-$99k     5.4       India,In         1935         -1
28     28   NaN   $39k-$88k     3.4  Australia Aus         1932         -1

In [12]:
data.head()

   Index   Age     Salary  Rating       Location  Established Easy Apply
0      0  44.0  $44k-$99k     5.4       India,In         1999       TRUE
1      1  66.0  $55k-$66k     3.5    New York,Ny         2002       TRUE
2      2   NaN  $77k-$89k    -1.0    New York,Ny           -1         -1
3      3  64.0  $44k-$99k     4.4       India In         1988         -1
4      4  25.0  $44k-$99k     6.4  Australia Aus         2002         -1

In [13]:
data.tail()

    Index   Age     Salary  Rating       Location  Established Easy Apply
24     24  13.0  $44k-$99k    -1.0    New York,Ny         1987         -1
25     25  55.0  $44k-$99k     0.0  Australia Aus         1980       TRUE
26     26   NaN  $55k-$66k     NaN       India,In         1934       TRUE
27     27  52.0  $44k-$99k     5.4       India,In         1935         -1
28     28   NaN  $39k-$88k     3.4  Australia Aus         1932         -1

In [14]:
data.shape

(29, 7)

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Index        29 non-null     int64
 1   Age          22 non-null     float64
 2   Salary       29 non-null     object
 3   Rating       28 non-null     float64
 4   Location     29 non-null     object
 5   Established  29 non-null     int64
 6   Easy Apply   29 non-null     object
dtypes: float64(2), int64(2), object(3)
memory usage: 1.7+ KB

In [16]:
data.isnull().sum()

Index          0
Age            7
Salary         0
Rating         1
Location       0
Established    0
Easy Apply     0
dtype: int64

In [17]:
data.columns

Index(['Index', 'Age', 'Salary', 'Rating', 'Location', 'Established',
       'Easy Apply'],
      dtype='object')

In [18]:
sample = data.columns.str.lower().str.replace(" ","_")

In [19]:
text = '$40k-$100k'
text.replace('$',"")

'40k-100k'

In [20]:
sample

Index(['index', 'age', 'salary', 'rating', 'location', 'established',
       'easy_apply'],
      dtype='object')

In [21]:
avg_age = data['Age'].mean()
avg_age

39.04545454545455

In [22]:

data['Age'] = data.Age.fillna(avg_age)
data['Age'] = data.Age.round(decimals=1)

In [23]:
data.head()

   Index   Age     Salary  Rating       Location  Established Easy Apply
0      0  44.0  $44k-$99k     5.4       India,In         1999       TRUE
1      1  66.0  $55k-$66k     3.5    New York,Ny         2002       TRUE
2      2  39.0  $77k-$89k    -1.0    New York,Ny           -1         -1
3      3  64.0  $44k-$99k     4.4       India In         1988         -1
4      4  25.0  $44k-$99k     6.4  Australia Aus         2002         -1

In [24]:
data['Age']

0     44.0
1     66.0
2     39.0
3     64.0
4     25.0
5     44.0
6     21.0
7     44.0
8     35.0
9     22.0
10    55.0
11    44.0
12    39.0
13    25.0
14    66.0
15    44.0
16    19.0
17    39.0
18    35.0
19    32.0
20    39.0
21    35.0
22    19.0
23    39.0
24    13.0
25    55.0
26    39.0
27    52.0
28    39.0
Name: Age, dtype: float64

In [44]:
data

    Index   Age      Salary  Rating   Location  Established Easy Apply
0       0  44.0   $44k-$99k     5.4      india         1999       TRUE
1       1  66.0   $55k-$66k     3.5   new york         2002       TRUE
2       2  39.0   $77k-$89k    -1.0   new york           -1         -1
3       3  64.0   $44k-$99k     4.4      india         1988         -1
4       4  25.0   $44k-$99k     6.4  australia         2002         -1
5       5  44.0   $77k-$89k     1.4      india         1999       TRUE
6       6  21.0   $44k-$99k     0.0   new york           -1         -1
7       7  44.0   $44k-$99k    -1.0  australia           -1         -1
8       8  35.0   $44k-$99k     5.4   new york           -1         -1
9       9  22.0   $44k-$99k     7.7      india           -1       TRUE
10     10  55.0   $10k-$49k     5.4      india         2008       TRUE
11     11  44.0   $10k-$49k     6.7      india         2009         -1
12     12  39.0   $44k-$99k     0.0      india         1999         -1
13     13  25.0   $44k-$99k    -1.0  australia         2019       TRUE
14     14  66.0   $44k-$99k     4.0  australia         2020       TRUE
15     15  44.0  $88k-$101k     3.0  australia         1999         -1
16     16  19.0   $19k-$40k     4.5      india         1984         -1
17     17  39.0   $44k-$99k     5.3   new york         1943       TRUE
18     18  35.0   $44k-$99k     6.7   new york         1954       TRUE
19     19  32.0   $44k-$99k     3.3   new york         1955       TRUE
20     20  39.0   $44k-$99k     5.7   new york         1944       TRUE
21     21  35.0   $44k-$99k     5.0   new york         1946         -1
22     22  19.0   $55k-$66k     7.8   new york         1988       TRUE
23     23  39.0   $44k-$99k     2.4   new york         1999       TRUE
24     24  13.0   $44k-$99k    -1.0   new york         1987         -1
25     25  55.0   $44k-$99k     0.0  australia         1980       TRUE
26     26  39.0   $55k-$66k     NaN      india         1934       TRUE
27     27  52.0   $44k-$99k     5.4      india         1935         -1
28     28  39.0   $39k-$88k     3.4  australia         1932         -1

In [25]:
data['Location'].value_counts()

New York,Ny      12
India,In          9
Australia Aus     7
India In          1
Name: Location, dtype: int64

In [26]:
data['Location'] = data['Location'].replace({'New York,Ny':'New York', 'India,In':'India','India In':'India', 'Australia Aus':'Australia'})

In [27]:
data['Location'] = data['Location'].str.replace(r'\sIn$', '')

<ipython-input-27-3f59ccad5d6c>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  data['Location'] = data['Location'].str.replace(r'\sIn$', '')

In [28]:
l = ['India','In']
l[1]

'In'

In [29]:

data['Location'].str.split(",",expand=True)[0]

0         India
1      New York
2      New York
3         India
4     Australia
5         India
6      New York
7     Australia
8      New York
9         India
10        India
11        India
12        India
13    Australia
14    Australia
15    Australia
16        India
17     New York
18     New York
19     New York
20     New York
21     New York
22     New York
23     New York
24     New York
25    Australia
26        India
27        India
28    Australia
Name: 0, dtype: object

In [30]:
data["Location"] = data["Location"].str.lower().str.replace(",", " " ).str.rstrip("in")

In [31]:
data['Location'].str.lower().str.replace(",","").str.rstrip("in")

0         india
1      new york
2      new york
3         india
4     australia
5         india
6      new york
7     australia
8      new york
9         india
10        india
11        india
12        india
13    australia
14    australia
15    australia
16        india
17     new york
18     new york
19     new york
20     new york
21     new york
22     new york
23     new york
24     new york
25    australia
26        india
27        india
28    australia
Name: Location, dtype: object

In [32]:
data['Location'].astype

<bound method NDFrame.astype of 0         india
1      new york
2      new york
3         india
4     australia
5         india
6      new york
7     australia
8      new york
9         india
10        india
11        india
12        india
13    australia
14    australia
15    australia
16        india
17     new york
18     new york
19     new york
20     new york
21     new york
22     new york
23     new york
24     new york
25    australia
26        india
27        india
28    australia
Name: Location, dtype: object>

In [40]:
data

    Index   Age      Salary  Rating   Location  Established Easy Apply
0       0  44.0   $44k-$99k     5.4      india         1999       TRUE
1       1  66.0   $55k-$66k     3.5   new york         2002       TRUE
2       2  39.0   $77k-$89k    -1.0   new york           -1         -1
3       3  64.0   $44k-$99k     4.4      india         1988         -1
4       4  25.0   $44k-$99k     6.4  australia         2002         -1
5       5  44.0   $77k-$89k     1.4      india         1999       TRUE
6       6  21.0   $44k-$99k     0.0   new york           -1         -1
7       7  44.0   $44k-$99k    -1.0  australia           -1         -1
8       8  35.0   $44k-$99k     5.4   new york           -1         -1
9       9  22.0   $44k-$99k     7.7      india           -1       TRUE
10     10  55.0   $10k-$49k     5.4      india         2008       TRUE
11     11  44.0   $10k-$49k     6.7      india         2009         -1
12     12  39.0   $44k-$99k     0.0      india         1999         -1
13     13  25.0   $44k-$99k    -1.0  australia         2019       TRUE
14     14  66.0   $44k-$99k     4.0  australia         2020       TRUE
15     15  44.0  $88k-$101k     3.0  australia         1999         -1
16     16  19.0   $19k-$40k     4.5      india         1984         -1
17     17  39.0   $44k-$99k     5.3   new york         1943       TRUE
18     18  35.0   $44k-$99k     6.7   new york         1954       TRUE
19     19  32.0   $44k-$99k     3.3   new york         1955       TRUE
20     20  39.0   $44k-$99k     5.7   new york         1944       TRUE
21     21  35.0   $44k-$99k     5.0   new york         1946         -1
22     22  19.0   $55k-$66k     7.8   new york         1988       TRUE
23     23  39.0   $44k-$99k     2.4   new york         1999       TRUE
24     24  13.0   $44k-$99k    -1.0   new york         1987         -1
25     25  55.0   $44k-$99k     0.0  australia         1980       TRUE
26     26  39.0   $55k-$66k     NaN      india         1934       TRUE
27     27  52.0   $44k-$99k     5.4      india         1935         -1
28     28  39.0   $39k-$88k     3.4  australia         1932         -1

In [46]:
data['Salary']=data.Salary.str.replace("$"," ")

<ipython-input-46-721aca357147>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['Salary']=data.Salary.str.replace("$"," ")

In [47]:
data['Salary']=data.Salary.str.replace("k", "000")

In [48]:
data[['Min_Salary', 'Max Salary']] = data['Salary'].str.split('-', expand=True)

In [49]:
data = data.drop(columns=['Salary'])

In [50]:
data

,Index,Age,Rating,Location,Established,Easy Apply,Min_Salary,Max Salary
0,0,44.0,5.4,india,1999,TRUE,44000,99000
1,1,66.0,3.5,new york,2002,TRUE,55000,66000
2,2,39.0,-1.0,new york,-1,-1,77000,89000
3,3,64.0,4.4,india,1988,-1,44000,99000
4,4,25.0,6.4,australia,2002,-1,44000,99000
5,5,44.0,1.4,india,1999,TRUE,77000,89000
6,6,21.0,0.0,new york,-1,-1,44000,99000
7,7,44.0,-1.0,australia,-1,-1,44000,99000
8,8,35.0,5.4,new york,-1,-1,44000,99000
9,9,22.0,7.7,india,-1,TRUE,44000,99000
10,10,55.0,5.4,india,2008,TRUE,10000,49000
11,11,44.0,6.7,india,2009,-1,10000,49000
12,12,39.0,0.0,india,1999,-1,44000,99000
13,13,25.0,-1.0,australia,2019,TRUE,44000,99000
14,14,66.0,4.0,australia,2020,TRUE,44000,99000
15,15,44.0,3.0,australia,1999,-1,88000,101000
16,16,19.0,4.5,india,1984,-1,19000,40000
17,17,39.0,5.3,new york,1943,TRUE,44000,99000
18,18,35.0,6.7,new york,1954,TRUE,44000,99000
19,19,32.0,3.3,new york,1955,TRUE,44000,99000
20,20,39.0,5.7,new york,1944,TRUE,44000,99000
21,21,35.0,5.0,new york,1946,-1,44000,99000
22,22,19.0,7.8,new york,1988,TRUE,55000,66000
23,23,39.0,2.4,new york,1999,TRUE,44000,99000
24,24,13.0,-1.0,new york,1987,-1,44000,99000
25,25,55.0,0.0,australia,1980,TRUE,44000,99000
26,26,39.0,NaN,india,1934,TRUE,55000,66000
27,27,52.0,5.4,india,1935,-1,44000,99000
28,28,39.0,3.4,australia,1932,-1,39000,88000